{% extends 'base.html.twig' %}

{% block body %}

    <div class="mt-4">
        <div class="text-center">
            <h1>Bienvenue sur notre Blog</h1>
            <img class="mb-2" src="/images/blog-cover.png">
        </div>

        <p>Imaginez...</p>

        <p>Un internaute surfe sur le web. Sur 1,9 milliards de sites dans le monde, le titre d’un de vos articles retient son attention. Le sujet promet de l’aider à résoudre un problème qu’il rencontre depuis un certain temps déjà.</p>

        <p>Mais au fur et à mesure qu’il commence à lire, son esprit s’égare. Au lieu de dévorer chaque mot de votre prose, il songe à déjeuner, à dresser sa liste d’épicerie, au cadeau qu’il pourrait acheter pour les 80 ans de sa mémé…</p>
    </div>

{% endblock %}